span[class^="error-"], [data-error-for] {
  color: red;
  font-size: 0.9em;
  display: block;
  margin-top: 2px;
}

#formResult {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

#formWarnings {
  margin-top: 10px;
  font-size: 0.9em;
  color: orange;
}

